#header {
    z-index: 100;
    width: 100%;
    position: fixed;
    background: #040307;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

#images {
    float: left;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#logo {
    font-size: 1.2rem;
    font-weight: 700;
    height: 25px;
}

@media (width < 1600px) {
    #container {
        margin: 0 5vw 0 5vw;
        height: calc(25px + 50px);
    }
}

@media (width >= 1600px) {
    #container {
        width: 1400px;
        margin: 0 auto;
        height: calc(25px + 80px);
    }
}