#projects {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

    overflow-x: scroll;
}

#container::-webkit-scrollbar {
    height: 3px;
}

#container::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
}

#container::-webkit-scrollbar-track {
    background-color: transparent;
}

#container > div {
    height: var(--element-height);
    border-radius: 10px;
    overflow: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

#title {
    background: linear-gradient(to left, #2319B6, #1D7AF8);
    background-size: 200%;
    color: transparent;
    background-clip: text;
    animation: gradient 15s ease infinite;
    font-weight: 600;
    margin-bottom: 5px;
}

#subtitle {
    color: #808080;
    letter-spacing: 3px;
}

.description {
    position: relative;
    top: calc((var(--element-height) + 5px) * -1);
    height: calc(var(--element-height) + 5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: transparent;
    padding: 0 20px;
    text-align: center;
    transition: opacity .3s, background-color .3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.description:hover {
    opacity: 1;
    background-color: rgba(31, 40, 51, 0.8);
}

.description > :first-child {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.description > :last-child {
    color: rgb(229, 231, 235);
    font-size: 1rem;
    font-weight: 500;
}

@media (width < 1600px) {
    #projects {
        --element-height: 135px;
    }

    #title {
        font-size: 2.2rem;
    }

    #subtitle {
        margin-bottom: 25px;
        font-size: 1rem;
    }

    #container {
        width: 80vw;
        height: fit-content;
        max-height: 60vh;
        flex-direction: column;
        align-items: center;
    }

    #container > div {
        width: 240px;
    }
}

@media (width >= 1600px) {
    #projects {
        --element-height: 225px;
    }

    #title {
        font-size: 4.2rem;
    }

    #subtitle {
        margin-bottom: 35px;
        font-size: 1.2rem;
    }

    #container {
        width: 1400px;
        flex-direction: row;
    }

    #container > div {
        width: 400px;
    }
}