#contact {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

#container > div {
    border-radius: 5px;
    height: 50px;
    width: 350px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 1.2rem;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 15px;
}

.email {
    background-color: #DB4437;
    font-weight: 500;
}

.discord {
    background-color: #5865F2;
    font-weight: 500;
}

.kakaotalk {
    background-color: rgb(247, 230, 0);
    color: #3A1D1D;
    font-weight: 600;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

#title {
    background: linear-gradient(to left, #2319B6, #1D7AF8);
    background-size: 200%;
    color: transparent;
    background-clip: text;
    animation: gradient 15s ease infinite;
    font-weight: 600;
    margin-bottom: 5px;
}

#subtitle {
    color: #808080;
    letter-spacing: 3px;
}

@media (width < 1600px) {
    #title {
        font-size: 2.2rem;     
    }

    #subtitle {
        margin-bottom: 25px;
        font-size: 1rem;
    }

    #container {
        width: 80vw;
    }
}

@media (width >= 1600px) {
    #title {
        font-size: 4.2rem;   
    }

    #subtitle {
        margin-bottom: 35px;
        font-size: 1.2rem;
    }

    #container {
        width: 1400px;
    }
}