#section {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
}

#section > div {
    scroll-snap-align: start;
}

#section::-webkit-scrollbar {
    width: 0px;
}

#section::-webkit-scrollbar-track {
    background-color: transparent;
}